<launch>

    <!--  ************** Global Parameters ***************  -->
    <param name="use_sim_time" value="true"/>
    <arg name="controller"  default="mpc" doc="opt: dwa, mpc, pure_pursuit"/> 
    <arg name="model"  default="ackermann" doc="opt: ackermann, serving_bot"/> 
    <arg name="tf_prefix"  default=""/> 

    <!--  ************** GAZEBO Simulator ***************  -->
    <arg name="x_pos" default="0.0"/>
    <arg name="y_pos" default="0.0"/>
    <arg name="z_pos" default="1.0"/>
    <arg name="roll" default="0"/>
    <arg name="pitch" default="0"/>
    <arg name="yaw" default="0"/>
    <arg name="gui" default="false"/>

    <arg name="cmd_timeout" default="0.5"/>

    <!-- Gazebo  -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find mpc_ros)/worlds/big_s_world.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <!-- Load the robot description -->
    <param name="robot_description" command="$(find xacro)/xacro $(find steer_bot_description)/urdf/steer_bot.urdf.xacro"  if="$(eval model == 'ackermann')"/>

    <!-- Load ros_controllers configuration parameters -->
    <rosparam file="$(find steer_bot_control)/config/ctrl_ackermann_steering_controller.yaml" command="load"  />
    <rosparam file="$(find steer_bot_control)/config/ctrl_gains.yaml" command="load" />
    <rosparam file="$(find steer_bot_control)/config/ctrl_joint_state_publisher.yaml" command="load"  />
    <rosparam file="$(find steer_bot_control)/config/ctrl_steer_bot_hardware_gazebo.yaml" command="load" />

    <!-- Spawn the controllers -->
    <node pkg="controller_manager" type="spawner" name="controller_spawner" 
        args="joint_state_publisher ackermann_steering_controller"
        output="screen" respawn="false" />

    <!-- Launch  the robot state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="publish_frequency" value="50.0"/>
    </node>

    <!-- Launch a rqt steering GUI for publishing to /steer_bot/steer_drive_controller/cmd_vel -->
    <!--node pkg="rqt_robot_steering" type="rqt_robot_steering" name="rqt_robot_steering" >
        <param name="default_topic" value="ackermann_steering_controller/cmd_vel"/>
    </node-->

    <!-- Spawn robot in Gazebo -->
    <node name="spawn_vehicle" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param robot_description -model steer_bot
            -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos)
            -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"
        respawn="false" output="screen" />

    <!--  ************** Map **************  -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find mpc_ros)/map/big_s_world.yaml" output="screen">
        <param name="frame_id" value="map"/>
    </node>


    <!--  ************** Localization **************  -->
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <rosparam file="$(find mpc_ros)/params/amcl_params.yaml" command="load" />
        <param name="min_particles"             value="100"/>
        <param name="max_particles"             value="2500"/>
        <param name="kld_err"                   value="0.1"/>
        <param name="kld_z"                   value="0.5"/>
  
        <!-- totally important! -->
        <param name="update_min_d"              value="0.06"/>
        <param name="update_min_a"              value="0.05"/>
  
        <param name="resample_interval"         value="1"/>
        <param name="transform_tolerance"       value="0.1"/>
        <param name="recovery_alpha_slow"       value="0.00"/>
        <param name="recovery_alpha_fast"       value="0.00"/>
        <param name="initial_pose_x"            value="$(arg x_pos)"/>
        <param name="initial_pose_y"            value="$(arg y_pos)"/>
        <param name="initial_pose_a"            value="$(arg yaw)"/>
        <param name="gui_publish_rate"          value="50.0"/>
  
        <param name="laser_min_range"           value="0.15"/>
        <param name="laser_max_range"           value="25.0"/>
        <param name="laser_max_beams"           value="180"/>
        <param name="laser_z_hit"               value="0.95"/>
        <param name="laser_z_short"             value="0.05"/>
        <param name="laser_z_max"               value="0.05"/>
        <param name="laser_z_rand"              value="0.5"/>
        <param name="laser_sigma_hit"           value="0.2"/>
        <param name="laser_lambda_short"        value="0.1"/>
        <param name="laser_likelihood_max_dist" value="2.0"/>
        <param name="laser_model_type"          value="likelihood_field"/>
  
        <param name="odom_model_type"           value="diff-corrected"/>
        <!--noise in odometry's rotation estimate from the rotational component-->
        <param name="odom_alpha1"               value="0.01"/> 
        <!--noise in odometry's rotation estimate from translational component-->
        <param name="odom_alpha2"               value="0.04"/>
        <!-- noise in odometry's translation estimate from the translational component -->
        <param name="odom_alpha3"               value="0.04"/>
        <!--noise in odometry's translation estimate from the rotational component -->
        <param name="odom_alpha4"               value="0.002"/> 
        <param name="/use_sim_time" value="true"/>
        <param name="odom_frame_id"             value="odom"/>
        <param name="base_frame_id"             value="base_footprint"/>
        <param name="global_frame_id"           value="map"/>
        <param name="use_map_topic"             value="true"/>
    </node>

    <!--  ************** Navigation ***************  -->    
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find mpc_ros)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find mpc_ros)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find mpc_ros)/params/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find mpc_ros)/params/global_costmap_params.yaml" command="load" />    
        
        <!-- Global Planner -->
        <param name="base_global_planner" value="global_planner/GlobalPlanner" />
        <param name="planner_frequency" value="1.0" />
        <param name="planner_frequency" value="0.0" if="$(eval controller == 'pure_pursuit')"/>
        <param name="planner_patience" value="5.0" />
        <param name="controller_frequency" value="5.0" />
        <rosparam file="$(find mpc_ros)/params/global_planner_params.yaml" command="load" />
        
        <!-- Local Planner -->
        <rosparam file="$(find mpc_ros)/params/mpc_last_params.yaml" command="load" />
        <param name="base_local_planner" value="mpc_ros/MPCPlannerROS"  if="$(eval controller == 'mpc')"/>
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"  if="$(eval controller == 'dwa')"/>    
        
        <!-- external controller >
        <remap from="/cmd_vel" to="/fake_cmd" unless="$(eval controller == 'dwa')"/-->
        <remap from="odom" to="/ackermann_steering_controller/odom" unless="$(eval controller == 'ackermann')"/>
        <remap from="cmd_vel" to="/ackermann_steering_controller/cmd_vel" unless="$(eval controller == 'ackermann')"/>
    </node>
    
    <!--  ************** MPC Node **************  -->
    <!--node name="nav_mpc" pkg="mpc_ros" type="nav_mpc" output="screen" if="$(eval controller == 'mpc')" >
        <rosparam file="$(find mpc_ros)/params/mpc_last_params.yaml" command="load" />
    </node-->

    <!--  ************** Pure Pursuit **************  -->
    <!--node name="Pure_Pursuit" pkg="mpc_ros" type="Pure_Pursuit" output="screen" if="$(eval controller == 'pure_pursuit')" >
        <rosparam file="$(find mpc_ros)/params/pure_pursuit_params.yaml" command="load" />
        <remap from="/pure_pursuit/odom" to="/odom" />
        <remap from="/pure_pursuit/global_planner" to="/move_base/GlobalPlanner/plan" />
        <remap from="/pure_pursuit/goal" to="/move_base_simple/goal" />
        <remap from="/pure_pursuit/cmd_vel" to="/cmd_vel" />
    </node-->

    <!--  ************** Visualisation **************  -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mpc_ros)/params/total_rviz_navigation.rviz"/>
</launch>
